# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore the .terraform directory
.terraform/

# Ignore the lock file
.terraform.lock.hcl

# Ignore crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan output files
*.tfplan

# Include important variable files
!prod.tfvars
!dev.tfvars
!staging.tfvars

# Exclude sensitive variable files (example)
secrets.tfvars